.DS_Store
node_modules
*.log
test/fixtures/test-download*
*.notes
.*.sw[op]
.project
test/configs/*.json
!test/configs/providers.json
.idea
azure_error
coverage.html
.coveralls.yml
pkgcloud.lcov*
node-jscoverage
.nyc_output
*.tgz
*.tar.gz
